.parent-div div{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: red;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 50%
}
.parent-div{
    /* background: yellow; */
    display: inline-block;
    width: 250px;
    font-size: 0;
    margin-left: 100px;
    margin-top: 100px;
    position: relative;
}

div.black {
    background: black;
}

div.white {
    background: green;
}